@keyframes writing-animation{
  from { 
      width: 0; 
    }
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Noto Serif', serif;
}
img{
    width: 100%;
}
.icon{
    font-size: 40px;
    color: #c9c9c9;;
}
.button-down .icon{
    margin:100px auto;
    font-size: 24px;
}
/** TOP NAV **/
.top-nav{
    background-color: rgba(0, 0, 0, .8);
    padding: 10px 0px;
    height: 60px;
}
.top-nav a{
    color: #ffffff;
    font-weight: 700;
    transition: .5 linear;
}
.top-nav a.active{
    border-bottom: 3px solid #ffffff;
}
/** HEADER **/
.header {
    color: #ffffff;
    height: 100%; 
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin: 0;
    top: 0;
    padding-top:100px;
}
.header:after{
    content: "";
    position: absolute;
    background-image: url('../img/code.jpg');
    background-size: cover;
    filter: blur(2px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.header .title{
    width: 50%;
    margin:100px auto; 
    text-align: center;
}
.header .title h1{
    width: 100%;
    margin: 15px auto;
    font-family: 'Markazi Text', serif;
    border: 3px solid #ffffff;
}
.title h2{    
    width: 100%;
    white-space: nowrap;    
    overflow: hidden;
    text-align: left;
    animation: writing-animation 3s steps(1000, end);
}
.title h2::before{
    content: "[";
    margin-right: 15px;
}
.title h2::after{
    content:"]";
    margin-left: 15px;
}
.header h1{
    font-size: 5em;
}
/** ABOUT **/
.about{
    margin:0px auto;
    width: 70%;
    padding: 50px 0px;
}
.about .row{    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about img{
    box-shadow: 1px 1px 50px 1px #000000;
}
.about p{
    text-align: justify;
}
.about h1{
    font:"times is roman";
    position: relative;
    margin-left: 40px;
    font-size: 24px;
    color: #5746c0;
}
.about h1:before{
    content: "";
    position: absolute;
    background: #5746c0;
    height: 4px;
    width: 30px;
    display: block;
    left: -40px;
    top: 12px;
}
.about .photo{
    width: 100%;
    display: flex;
    flex-direction : row;
    justify-content: center;
    text-align: center;
}
.about img{
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

/** PORTOFOLIO **/
.projects{
    background-color: #f3f3f3;
    margin: 0px;
    padding: 20px;
}
.projects h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.portofolio{
    background: #dfdfdf;
    padding: 40px;
}
.portofolio ul{
    list-style: none; 
}
.portofolio-menu{    
    margin-bottom: 20px;
}
.portofolio-menu a{
    border: 2px solid #5746c0;
    color: #5746c0;
    font-weight: 700;
    text-decoration: none;
    padding:5px 10px;
}
.portofolio-menu a:hover, .portofolio-menu a.active{
    color: #dfdfdf;
    background-color: #5746c0;
}
.portofolio li:last-child{
    margin-right: 0;
}
.main-portofolio{
    margin-bottom: 50px;
    min-height: 300px;
}
.portofolio-list{
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto; 
}
.portofolio-item{
    width: 33.3%;
    position: relative;
    overflow: hidden;
    padding: 5px;
}
.portofolio-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    transition: .5s ease;
}
.portofolio-item:hover .portofolio-overlay{
    left: 0px;
}
.portofolio-overlay a{
    position: absolute;
    top: 35%;
    left:35%;
    color: #ffffff;
    border:1px solid #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    transition: .1s linear;
}
.portofolio-overlay a:hover{
    background-color: #ffffff;
    color: #000000;
}
.portofolio-overlay a:hover .icon{
    color: #000000;
}
.portofolio-overlay .icon{
    font-size: 16px;  
    color: #ffffff;  
}
/** contact **/
.contact{
    padding: 35px 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    position: relative;
}
.contact:after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;    
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}
.contact h1, .contact p{    
    text-align: center;
}
.contact-info{
    width: 300px;
    margin: 15px auto;
}
.contact-nav{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.contact-nav li{
    margin: 10px 0px;
}
.title-social-media{
    margin-top: 40px;
    margin-bottom: 20px;    
    color: #c9c9c9;
    position: relative;
    font-size: 24px;            
}
.title-social-media:before{
    content: "";
    position: absolute;
    background: #c9c9c9;
    height: 4px;
    width: 48px;
    display: block;
    top: 16px;
}
.title-social-media:after{
    content: "";
    position: absolute;
    background: #c9c9c9;
    height: 4px;
    width: 48px;
    right: 0;
    display: block;
    top: 16px;
}
/** footer **/
.footer{
    background-color: #2b2b2b;
    color: #e4e4e4;
    bottom: 0;
    padding: 2px;
}
/** modal **/
.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
@media (max-width:600px){
    .header .title{
        width:80%;
    }
    .header .title h1{
        margin: 15px auto;
        font-family: 'Markazi Text', serif;
        border: 3px solid #ffffff;
    }
    .portofolio-item{
        width: 100%;
    }
}